<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="userMapper2">
	<insert id="addUser" parameterType="meng.mybatis.test2.User">
		insert into users(name,age)
		values(#{name},#{age})
	</insert>

	<update id="updateUser" parameterType="meng.mybatis.test2.User">
		update users set
		name=#{name},age=#{age} where id=#{id}
	</update>

	<delete id="deleteUser" parameterType="int">
		delete from users where
		id=#{id}
	</delete>

	<select id="findUserByUserid" parameterType="int"
		resultType="meng.mybatis.test2.User">
		select * from users where id = #{id}
	</select>

	<select id="findAllUser" resultType="meng.mybatis.test2.User">
		select * from users
	</select>

	<!-- 模糊查询 -->
	<select id="findUsersLikeName" parameterType="String"
		resultType="meng.mybatis.test2.User">
		select * from users where name like #{name}
	</select>
</mapper>